* {
  border: 0;
  margin: 0;
}
html {
  background-color: #d9d4d5;
  font-size: 62.5%;
}

.title {
  text-align: center;
  font-size: 64px;
  margin: 40px;
}

.sketch-place {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.options {
  display: flex;
  flex-direction: column;
  background-color: #d9d4d5;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
}
.canvas {
  background-color: white;
  display: flex;
  width: 70rem;
}
.box {
  outline: 1px solid black;
}

button {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 4px;
  width: 150px;
}

input[type="color"]:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type="color"] {
  width: 80px;
  height: 80px;
  border: none;
  background-color: #d9d4d5;
  padding: 0;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
